.button-container {
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  margin: 3.2vw 5.33vw;
  flex-direction: column;
}

.button {
  flex: 1;
  display: flex;
  outline: none;
  cursor: pointer;
  margin: 1.5vh 0;
  min-height: 6vh;
  border-radius: 4px;
  align-items: center;
  background-color: none;
  justify-content: center;
  text-transform: uppercase;
  background-position: center;
  transition: background 500ms;
  border: 1px solid transparent;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.button.primary {
  color: #f7fafd;
  background-color: #558df8;
  border: 1px solid #558df8;
}

.button.secondary {
  color: #558df8;
  box-shadow: none;
  background-color: #f7fafd;
  border: 1px solid #558df8;
}

.button.primary:hover {
  background: #558df8 radial-gradient(circle, transparent 1%, #558df8 1%) center/15000%;
}

.button.secondary:hover {
  background: #f7fafd radial-gradient(circle, transparent 1%, #f7fafd 1%) center/15000%;
}

.button.primary:active {
  transition: 0ms;
  background-size: 100%;
  background-color: #457de8;
}

.button.secondary:active {
  color: #fff;
  transition: 0ms;
  background: #457de8;
  background-size: 100%;
}

.full-width {
  margin: 0 5.33vw;
}

.full-width .button {
  width: 100%;
}
