.card {
  width: 80vw;
  display: flex;
  color: #f7fafd;
  min-height: 30vh;
  border-radius: 4px;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.card.initial {
  background: linear-gradient(143.13deg, #42D98E 0%, #16B7C1 73.53%);
}

.card.balance {
  background: linear-gradient(143.13deg, #558DF8 0%, #9792F5 73.53%);
}

.card.expenses {
  background: linear-gradient(143.13deg, #D94541 0%, #F59292 73.53%);
}

.card .card-title {
  margin: 5.33vw;
}

.card .card-value {
  font-weight: 500;
  font-size: 12.8vw;
  margin: 7vw 0 16vw;
}

.card-swipe {
  padding: 0 7.5vw;
}

.card-swipe .react-swipeable-view-container > div {
  padding: 5vw 2.5vw;
}
